@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  padding:  0px; 
  margin:  0px; 
  display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: white;
}

li{
  list-style:  none;
      width: 100px;
}
body{
  background-color: rgb(241, 240, 240);
  
}

/* 
.nocopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */
